.navbar-wrapper
{
	background: black;
	padding: 5px 0px;
  padding-left: 15%;
	float: left;
	width: 85%;
  font-family: 'Roboto-Consdensed', sans-serif;
  position: fixed;
  top: 0px;
}

.navbar-logo-wrapper
{
	width: 15%;
	float: left;
}

.navbar-menu-wrapper
{
	width: 50%;
	float: left;
	margin: 15px 0px;
}

.navbar-profile-avatar-wrapper
{
  float: left;
  width: 20%;
  margin-top: 10px;
  position: relative;
}

.navbar-drop-down-menu-wrapper
{
  position: absolute;
  top: 40px;
  left: -55px;
  

}

