<div class="photo-wrapper">
  <img [src]="'assets/photos/' + photoname + '.jpg'" alt="first image" width="100%" />
  <span class="overlay" photo-shadow>
  
    
    <span class="actions" style="opacity: 1">
      <span>
        <img src="assets/like.png" alt="Like" width="20px" style="margin-top: 5px"/>
      </span>
    
      <span>
        <img src="assets/retweet.png" alt="Retweet" width="30px"/>
      </span>

      <span>
        <img src="assets/more.png" alt="More" width="30px"/>
      </span>
    </span>

  </span>

</div>
